mode: simple
credentials:
  work_github:
    vault_path: secret/data/tenants/{tenant}/users/{user}/github/work
    injection:
      type: env
      mapping:
        token: GITHUB_TOKEN
  personal_github:
    vault_path: secret/data/tenants/{tenant}/users/{user}/github/personal
    injection:
      type: env
      mapping:
        token: GITHUB_TOKEN
  prod_slack:
    vault_path: secret/data/tenants/{tenant}/services/slack/prod
    injection:
      type: env
      mapping:
        token: SLACK_TOKEN
  dev_slack:
    vault_path: secret/data/tenants/{tenant}/services/slack/dev
    injection:
      type: env
      mapping:
        token: SLACK_TOKEN
  admin_db:
    vault_path: secret/data/tenants/{tenant}/services/database/admin
    injection:
      type: env
      mapping:
        username: DB_USER
        password: DB_PASS
  readonly_db:
    vault_path: secret/data/tenants/{tenant}/services/database/readonly
    injection:
      type: env
      mapping:
        username: DB_USER
        password: DB_PASS
  google_gemini:
    vault_path: secret/data/tenants/{tenant}/users/{user}/gemini/api
    injection:
      type: env
      mapping:
        api_key: GEMINI_API_KEY
service_defaults:
  github: work_github
  slack: prod_slack
  database: readonly_db
  duckduckgo: default
default_credential:
  vault_path: secret/data/tenants/{tenant}/users/{user}/default
  injection:
    type: env
    mapping:
      api_key: API_KEY
